{% extends 'profile/profile_base.html' %}

{% block body_style %}
{% endblock %}

{% block header %}
  <header class="jumbotron subhead" id="overview">
    <div class="container">
      <div class="container-fluid">
	<div class="row-fluid">
	  <div class="span12">
	    <img contenteditable="true" width="70" height="20" src="/static/img/default1.png" alt="" style="text-align: center; float: left;" />
	    <div style="float: left; margin-left: 30px;">
	      <h1 contenteditable="true">Title</h1>
	      <p contenteditable="true" class="lead">Sub title</p>
	    </div>
	    <div>
	      



              <ul class="nav nav-pills pull-right profilemenu">
		<li class="menu"><a class="menu-text" href="/">Slotter</a></li>
		<li class="menu"><a class="menu-text" href="#">Add Bookmark</a></li>
		<li class="dropdown menu"><a class="menu-text dropdown-toggle" data-toggle="dropdown" href="#">Admin<strong class="caret" style="border-top-color: BLACK;"></strong></a>
		  
		  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="background-color: #9FC8DE;">
		    <li><a tabindex="-1" href="#"><i class="icon-edit" style="padding-right: 10px;"></i>Edit</a></li>
		    <li><a tabindex="-1" href="#"><i class="icon-plus" style="padding-right: 10px;"></i>Apps</a></li>
		    <li><a tabindex="-1" href="#"><i class=" icon-tasks" style="padding-right: 10px;"></i>Settings</a></li>
		  </ul>



		</li>
		<li class="dropdown menu">
		  <a class="menu-text dropdown-toggle" data-toggle="dropdown" href="#">Jayesh<strong class="caret" style="border-top-color: BLACK;"></strong></a>

		  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="background-color: #9FC8DE;">
		    <li><a tabindex="-1" href="#"><i class="icon-off" style="padding-right: 10px;"></i>Logout </a></li>
		  </ul>
		</li>

		

              </ul>
	    </div>
	  </div>
	</div>
  </header>

  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav" style="padding-left: 20px;">
      	  <li class="active"><a href="#">Home</a></li>
      	  <li><a href="#">Book a slot</a></li>
      	  <li><a href="#">Pay a bill</a></li>
        </ul>
      </div>
    </div>
  </div>

{% endblock %}

{% block footer_area %}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="container-fluid">
      <div class="row-fluid">
	<p class="span10" contenteditable="true">{{ service.description }}</p>
	<address class="span2" contenteditable="true">{{ service.address }}</address>
      </div>
      <div class="row-fluid">
 	<div style="text-align: center; padding-top: 30px;">
	  <p>Powered by <a href="/">Slotter</a></p>
	</div>
      </div>
    </div>
  </div>
{% endblock %}
