{% extends 'base.html' %}

{% block extra_css %}
  <link href="/static/css/profile.css" rel="stylesheet">
{% endblock %}

{% block extra_js %}
  <script src="/static/js/profile.js"></script>
  <script>
    $(document).ready(function() {
      //slotter.getLoggedUserdDetails(showpageContents);
      var profile = new slotter.profile.Profile();
    });

    showpageContents = function(user) {
      var headerView = new slotter.profile.views.HeaderView(user);
      var descriptionView = new slotter.profile.views.DescriptionView(user);
      var addressView = new slotter.profile.views.AddressView(user);
      var appListView = new slotter.profile.views.AppListView(user);
      //is admin check
      var menuView = new slotter.profile.views.MenuView(user);
    }
  </script>
{% endblock %}
