<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Slotter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/static/css/profile.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

    <!-- Le fav and touch icons -->
  </head>

      <!-- <div class="navbar navbar-inverse" style="margin-bottom: 0px;"> -->
      <!--   <div class="navbar-inner"> -->
      <!--     <ul class="nav pull-right" style="padding-left: 20px;"> -->
      <!-- 	    <li class="active"><a href="#">Home</a></li> -->
      <!-- 	    <li><a href="#">Link</a></li> -->
      <!-- 	    <li><a href="#">Link</a></li> -->
      <!--     </ul> -->
      <!-- 	</div> -->
      <!-- </div> -->


<!-- Subhead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="container">

    <div class="container-fluid">
      <div class="row-fluid">
	<div class="span12">
	  <img contenteditable="true" width="70" height="20" src="/static/img/default.png" alt="" style="text-align: center; float: left;" />
	  <div style="float: left; margin-left: 30px;">
	    <h1 contenteditable="true">{{ service.title }}</h1>
	    <p contenteditable="true" class="lead">{{ service.sub_title }}</p>
	  </div>
	  <div>
	    <div style="float: right;">

	          <!-- <ul class="nav nav-pills"> -->
		  <!--   <li class="active"> -->
		  <!--     <a href="#">Slotter</a> -->
		  <!--   </li> -->
		  <!--   <li><a href="#">Bookmark</a></li> -->
		  <!--   <li><a href="#">Admin</a></li> -->
		  <!--   <li><a href="#">Edit</a></li> -->
		  <!--   <li><a href="#">Login</a></li> -->
		  <!-- </ul> -->

		  <ul class="nav">
		    <a class="brand" href="/">Slotter</a>
		    |
		    <a class="brand" href="#">Admin</a>
		    |
		    <a class="brand" href="#">Edit</a>
		    |
		    <a class="brand" href="#">jayesh</a>
		  </ul>
		  <!-- <ul class="nav"> -->
		  <!--   <li class="active"><a href="#">Home</a></li> -->
		  <!--   <li class="divider-vertical"></li> -->
		  <!--   <li><a href="#">Library</a></li> -->
		  <!-- </ul> -->
	  
		  <!-- <div class="btn-toolbar"> -->
		  <!--   <div class="btn-group"> -->
		      
		  <!--     <a class="btn btn-inverse" href="#">Slotter</a> -->
		  <!--     <a class="btn btn-inverse" href="#">Bookmark</a> -->
		  <!--     <a class="btn btn-inverse" href="#">Admin</a> -->
		  <!--     <a class="btn btn-inverse" href="#">Edit</a> -->
		  <!--     <a class="btn btn-inverse" href="#">Login</a> -->

		  <!--   </div> -->
		  <!-- </div> -->


		  
	    </div>
	    
	    
	  </div>
	</div>

	<!-- <div class="row-fluid"> -->
	<!-- </div> -->
      </div>      

</header>

      <div class="navbar navbar-inverse">
        <div class="navbar-inner">
      	  <div class="container">
            <ul class="nav" style="padding-left: 20px;">
      	      <li class="active"><a href="#">Home</a></li>
      	      <li><a href="#">Book a slot</a></li>
      	      <li><a href="#">Pay a bill</a></li>
            </ul>
      	  </div>
      	</div>
      </div>


<div class="container">

  <div class="container-fluid">

    <!-- <div class="row-fluid"> -->
    <!--   <div id="myCarousel" class="carousel slide span6" style="text-align: center;"> -->
    <!-- 	<\!-- Carousel items -\-> -->
    <!-- 	<div class="carousel-inner"> -->

    <!-- 	  <div class="active item"><img src="/static/img/bootstrap-mdo-sfmoma-02.jpg" alt=""></div> -->
    <!-- 	  <div class="item"><img src="/static/img/bootstrap-mdo-sfmoma-01.jpg" alt=""></div> -->
    <!-- 	</div> -->
    <!-- 	<\!-- Carousel nav -\-> -->
    <!-- 	<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a> -->
    <!-- 	<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a> -->
    <!--   </div> -->
    <!-- </div> -->

    <div class="row-fluid">
      <p class="span9" contenteditable="true">{{ service.description }}</p>
      <address class="span3" contenteditable="true">{{ service.address }}</address>
    </div>

    <div class="spn12" style="text-align: center; padding-top: 20px;">
      <p>Powered by <a href="/">Slotter</a></p>
    </div>
  </div>
</div>
