/* Jumbotrons
-------------------------------------------------- */

/* Base class
------------------------- */
.jumbotron {
    position: relative;
    padding-top: 15px;
    padding-bottom: 5px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
    background: #E6EAEB; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #E6EAEB 0%, #0580C4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#E6EAEB), color-stop(100%,#0580C4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  #E6EAEB 0%,#0580C4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  #E6EAEB 0%,#0580C4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  #E6EAEB 0%,#0580C4 100%); /* IE10+ */
    background: linear-gradient(45deg,  #E6EAEB 0%,#0580C4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E6EAEB', endColorstr='#0580C4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
    -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
    box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}
.jumbotron h1 {
    font-size: 80px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
}
.jumbotron p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.25;
    margin-bottom: 30px;
}

/* Link styles (used on .masthead-links as well) */
.jumbotron a {
    color: #fff;
    color: rgba(255,255,255,.5);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.jumbotron a:hover {
    color: #fff;
    text-shadow: 0 0 10px rgba(255,255,255,.25);
}

/* Pattern overlay
------------------------- */
.jumbotron .container {
    position: relative;
    z-index: 2;
}
.jumbotron:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../img/bs-docs-masthead-pattern.png) repeat center center;
    opacity: .4;
}
/* Subhead (other pages)
------------------------- */
.subhead {
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.subhead h1 {
  font-size: 30px;
}
.subhead p {
  margin-bottom: 20px;
}
.subhead .navbar {
  display: none;
}

.profilemenu li.menu a.menu-text {
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 3px;
    margin-right: 3px;
    color: #181818;
    text-shadow: None;
}

.profilemenu li.menu a.menu-text:hover {
    color: #181818;
    text-shadow: None;
    background: None;
    text-shadow: black 0.01em 0.01em 0.01em;
}

.profilemenu li.menu a {
    color: #000;
    text-shadow: None;
}