.container-fluid .result_item {
    /* width: 70%;  */
    margin-top: 20px;
    padding-top: 20px;
    box-shadow: 1px 5px 5px 2px #000;
    /* cursor: pointer; */
    background: #FFF;
}

.pull-right .service-icon {
    margin-left: 4px;
    margin-right: 4px;
    cursor: pointer;
}

.pull-right .service-icon:hover {
    box-shadow: 0.5px 5px 5px 2px #191919;
}

p.description {
    word-wrap: break-word;
    font-family: arial,sans-serif;
    /* word-break: break-all; */
    /* font-size: 90%; */
    color: #777777;
}

.carousel {
    width: 320px;
    height: 200px;
}

.img-polaroid.logo {
    max-width: 75%;
    max-height: 60px;
}

.loader {
    background: url("/static/img/loading.gif") no-repeat;
    margin-top: 20px;
    width: 100%;
    height: 40px;
}

.modal-body.loader {
    width: 80%;
    margin-left: 20px;
    height: 40px;
}

#user_services > div.loader {
    margin-left: 8px;
}

.loader-mini {
    background: url("/static/img/small_loading.gif") no-repeat;
}

.nav-tabs > li > a.search-title {
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
    background-color: transparent;
    border: 1px solid #B9B9B9;
    border-bottom: 1px solid #E7E8EA;
}

a.google {
    background: url("/static/img/google.png") no-repeat;
    background-color: #49AFCD;
}

a.yahoo {
    background: url("/static/img/yahoo.png") no-repeat;
    background-color: #49AFCD;
}

a.myspace {
    background: url("/static/img/myspace.png") no-repeat;
    background-color: #49AFCD;
}

a.openid {
    background: url("/static/img/openid.png") no-repeat;
    background-color: #49AFCD;
}
