<!DOCTYPE html>
<html lang="en">
  <head>
    {% block meta %}
      <meta charset="utf-8">
      <meta content="width=device-width, initial-scale=1.0" name="viewport">
      <meta content="" name="description">
      <meta content="" name="author">
    {% endblock meta %}

    {% block css_imports %}
      <link href="/static/css/bootstrap.min.css" rel="stylesheet">
      <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
      <link href="/static/css/slotter.css" rel="stylesheet">
      {% block extra_css %}
      {% endblock %}
    {% endblock %}

    <title>
      {% block page_title %}
        Slotter
      {% endblock %}
    </title>
  </head>

  <body {% block body_style %} style="background: url('/static/img/siteBackground3.jpg');" {% endblock %}>
    {% block header %}
      {% include 'header.html' %}
    {% endblock %}

    {% block content %}
    <div class="container" style="padding-top: 60px;">
      <div class="container-fluid">
	<div class="row-fluid">
	  {% block left_area %}
          <div class="span2" id="left_content">
  	    {% block left_content %}
	    {% endblock %}
	  </div>
          {% endblock %}

	  {% block middle_area %}
       	    <div class="span9">
	      {% block middle_content %}
	      {% endblock %}
	    </div>
          {% endblock %}

	  {% block right_area %}
          {% endblock %}

   	  {% block footer_area %}
	    <div class="span10">
	      {% block footer_content %}
    	        {% include 'footer.html' %}
	      {% endblock %}
	    </div>
  	  {% endblock %}
	</div>
      </div>
    </div>
    {% endblock %}

    {% block js_imports %}
      <script src="/static/js/jquery1.8.2.min.js"></script>
      <script src="/static/js/bootstrap.min.js"></script>
      <script src="/static/js/underscore-min.js"></script>
      <script src="/static/js/backbone.js"></script>
      <script src="/static/js/md5.js"></script>
      <script src="/static/js/slotter.js"></script>
      {% block extra_js %}
      {% endblock %}
    {% endblock %}

  </body>
</html>
