<script type="text/template" id="login_link">
  <a href="#" role="button" data-toggle="modal">Log In </a>
</script>

{% include 'login_menu.html' %}

<script type="text/template" id="user_info_link">
  <li><img class="gravatar" style="margin-top: 5px;" src="<%= user.img_src %>" /></li>
  <li class="dropdown">
    <a class="dropdown-toggle" href="#" data-toggle="dropdown"><%= user.name %> <strong class="caret"></strong></a>
    {% include 'user_menu.html' %}
  </li>
</script>

<script type="text/template" id="my_business_link">
  <a class="dropdown-toggle" href="#" data-toggle="dropdown">My Businesses <strong class="caret"></strong></a>
  <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu">
    <a class="btn btn-success" style="margin: 3px 5px 5px 5px;" tabindex="-1" href="#" id="register_service"><i class="icon-plus img-circle" style="padding-right: 5px;" />Register New Business</a>
    <span id="user_services"></span>
  </ul>
</script>

{% include 'service_register.html' %}

<script type="text/template" id="service_menu_item">
  <a tabindex="-1" href="/service/profile/<%= id %>/">
    <img src="/static/img/siteBackground2.jpg" style="height: 15px; width: 15px; padding-right: 10px;" />
    <%= title.trunc(25) %>
  </a>
</script>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">
	<span width="111" height="30" alt="Slotter">Slotter</span></a>
      <div class="nav-collapse">
        <ul class="nav" id="home_ink">
          <li><a href="/">
	      <!-- <i class="icon-home icon-white"></i> -->
	      Home</a></li>
        </ul>
	<ul class="nav pull-right" id="user_menu">
	  <!-- <li><a href="/"><i class="icon-question-sign icon-white"></i>Waht is this</a></li> -->
	</ul>
      </div>
    </div>
  </div>
</div>
