{% extends 'base.html' %}

{% block extra_js %}
  <script src="/static/js/search.js"></script>
  <script>
    $(document).ready(function() {
      slotter.getLoggedUserdDetails(showpageContents)
    });

    showpageContents = function(user) {
      var searchPage = new slotter.views.search.SearchPage(user);
      $("#search_container").append(searchPage.render());
      searchPage.initSearchSuggestions();

      var searchRouter = new slotter.SearchRouter(searchPage);
      Backbone.history.start();

      if(user.loggedin) {
        var userInfo = new slotter.views.UserInfoView(user);
        $('ul#user_menu').append(userInfo.render());

        var myBusinessView = new slotter.views.MyBusinessView(user);
        $('#home_ink').append(myBusinessView.render());
      }
      else {
        var loginMenu = new slotter.views.HeaderLoginMenuView();
        $('ul#user_menu').append(loginMenu.render());
      }
    }
  </script>
{% endblock %}

{% block middle_content %}
  <div class="container-fluid" style="padding-top: 10px;" id="search_container">
  </div>

  <script type="text/template" id="search_area">
    <div class="row-fluid">
      {% include 'search.html' %}
    </div>
    <div style="width: 74.5%;">
      <ul class="nav nav-tabs" style="border-bottom: 1px solid #B9B9B9;">
	<%= loggedin == true ? "<li id='bookmark'><a href='#bookmark' class='search-title'>My Bookmarks</a></li>" : '' %>
	<li id="recent"><a href="#recent" class="search-title">New Registrations</a></li>
	<li id="search_results"><a href="#" class="search-title" style="display: none;"></a></li>
      </ul>
      <div id="results_area">	
      </div>
    </div>
  </script>

  <script type="text/template" id="result_item">
    {% include 'result_item.html' %}
  </script>

  <script type="text/template" id="no_result_info">
    <h5>Your search does not return any results. Please try with a different keyworkd.</h5>
  </script>

{% endblock %}

{% block footer_content %}
{% endblock %}
