<div class="navbar navbar-inverse" style="margin-bottom: 0px;">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="btn-group span2">
	<a class="btn btn-small btn-info"><span class="icon-resize-full" /></a>
        <a class="btn btn-small btn-info"><span class="icon-bookmark" /></a>
      </div>
      <ul class="nav nav-pills pull-right" style="vertical-align: bottom;">
	<li class="active"><a href="#">Home</a></li>
	<li><a href="#">Admin</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid" style="padding-top: 5px; padding-bottom: 50px; background: #D0E0EB;">
  <div class="row-fluid" style="padding-top: 20px;">
    <div class="page-header" style="text-align: center;">
      <img width="111" height="30" src="/static/img/default.png" alt="" style="text-align: center;" />
      <h1>{{ service.title }} <small>{{ service.sub_title }}</small></h1>
    </div>
  </div>

  <div class="row-fluid" style="padding-top: 20px; padding-bottom: 20px;">
    <ul class="span2 nav nav-list">
      <li class="active"><a href="#">Announcements</a></li>
      <li><a href="#">View Schedule</a></li>

      <li><a href="#">Book a slot</a></li>
    </ul>

    <p class="span7 description">{{ service.description }}</p>

    <address class="span2">
      {{ service.address }}
      <div style="padding-top: 15px;"><a href="#">View in map</a></div>
    </address>
  </div>
  <div class="row-fluid">
    <div style="text-align: center; padding-top: 50px; padding-bottom: 50px;">Powered by <a href="#">slotter</a></div>
  </div>
</div>
