{% extends 'base.html' %}

{% block header %}
{% endblock %}
{% block content %}
<div class="container-fluid" style="margin-top: 60px;">
  <div class="row-fluid">
    <div class="span2">
    </div>    
    <div class="span8">
      {% include 'profile_view.html' %}
    </div>
    <div class="span2">
    </div>
  </div>
</div>
{% endblock %}
