<div class="container-fluid result_item">
  <div class="row-fluid">
    <div class="span2">
      <img src="/static/img/siteBackground2.jpg" class="img-polaroid logo" id="ppp" />
      <!-- <img src="/static/img/default.png" class="img-polaroid logo" /> -->
    </div>
    <div class="container-fluid span10" style="padding-left: 0px; margin-left: 0px;">
      <a style="cursor: pointer;" href="/service/profile/<%= id %>/">
	<strong style="color: #0060CC;"><%= title.trunc(30) %> </strong><small><%= sub_title.trunc(30) %></small>
      </a>
      <div>
	<p class="span12 description" style="margin-bottom: 0px;">
	  <%= description.trunc(100) %>
	</p>
      </div>
      <div>
	<div class="span9">
	  <strong style="font-size: small;"><%= address.trunc(50) %></strong>
	</div>
	<div class="span3">
	  <div class="pull-right">

	    <div class="btn-toolbar" style="margin-top: 0px;">
	      <div class="btn-group">
	    	<span class="btn btn-mini" title="Locate in google map"><i class="icon-map-marker"></i></span>
	    	<span class="btn btn-mini" title="Book a slot"><i class="icon-book"></i></span>
	    	<span id="toggle_bookmark" class="btn btn-info btn-mini" title="<%= bookmarked == true ? 'Remove this from ' : 'Add this to ' %> bookmark">
		  <i class="icon-bookmark<%= bookmarked == true ? ' icon-white' : '' %>"></i>
		</span>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
