<div class="form-search" action="/search/" style="margin-bottom: 15px;">
  <!-- <input type="text" autofocus="autofocus" style="width: 50%;"> -->
  <input data-provide="typeahead" type="text" placeholder="Search with name or place" style="width: 50%;" id="search_query" autofocus="autofocus" />
  <button class="btn btn-primary" id="search_button">Search</button>
</div>
