{% extends 'base.html' %}

{% block extra_js %}
<script>
    $(document).ready(function() {
      slotter.getLoggedUserdDetails(showpageContents)
    });

    showpageContents = function(user) {
      if(! user.loggedin) {
        var loginMenu = new slotter.views.HeaderLoginMenuView();
        $('ul#user_menu').append(loginMenu.render());

        $("#left_content").addClass("span2"); 
        $("#profile_container").show();
      }
      else {
        var userInfo = new slotter.views.UserInfoView(user);
        $('ul#user_menu').append(userInfo.render());

        $("#profile_container").show();
        var serviceList = new slotter.views.ServiceListView(user);
        $('#left_content').append(serviceList.render());
      }
    }
</script>
{% endblock %}

{% block middle_area %}
<div id="profile_container" class="span8" style="border: 0.1px solid #C0C0C0; margin-top: 10px; background: #FFF; display: none;">
  {% include 'profile_view.html' %}
</div>
{% endblock %}
{% block footer_area %}
{% endblock %}
