<div class="modal hide fade" role="dialog" tabindex="-1" style="left: 46.4%;" id="service_register">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Register your Business</h4>
  </div>
  <div class="modal-body">
    <p style="padding-bottom: 20px; color: #FE7A17;">information information information information information information information information information information information information information information information information information information information information information information information information</p>
    <form class="form-horizontal" method="post" action="/service/register/">
      <fieldset>
	<div class="control-group">
	  <label class="control-label">Tile</label>
	  <div class="controls">
            <input placeholder="Your profile title" class="input-xlarge" type="text" autofocus="autofocus" name="service_title" id="profile_title" />
	  </div>
	</div>
	
	<div class="control-group">
          <label class="control-label">Sub tile</label>
          <div class="controls">
            <input placeholder="Profile sub title" class="input-xlarge" type="text" name="service_sub_title">
          </div>
	</div>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" id="register">Register</button>  
  </div>
</div>
