<script type="text/template" id="service_list">
  <div class="container-fluid pull-right" style="margin-top: 10px;">
    <div class="row-fluid">
      <button class="btn btn-primary" id="register_service">Register</button>
    </div>
    <!-- <div class="row-fluid"> -->
    <!--   <ul class="nav nav-list"> -->
    <!-- 	<li><a href="#bookmark">Bookmarks</a></li> -->
    <!-- 	<li><a href="#recent">Recent registrations</a></li> -->
    <!--   </ul> -->
    <!-- </div> -->
  </div>
</script>

<script type="text/template" id="service_register">
  <div class="modal" role="dialog" tabindex="-1" style="top: 38%; left: 44%;">
    {% include 'service_register.html' %}
  </div>
</script>
