<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
  <li style="padding-top: 5px;"><a tabindex="-1" href="/logout/"><i class="icon-off" style="padding-right: 5px;"></i>Logout</a></li>
</ul>
